<%-include('header');-%>

  <div class="date">
    
    <h1 style="margin-bottom:10%;color:#2A2550;"><%=title%></h1>
  </div>
  
  
  <%if (i.length===0){%>
    
    <%}else{%>
      <div class="container">
        <%for (let x=0;x<i.length;x++){%>
          <form action="/delete" method="post">
            <div class="item-box">
              <input type="checkbox" class="check" name="checkbox" value="<%=i[x]._id%>" onchange="this.form.submit()"><p><%=i[x].toDo%></in>
              </div>
              <input type="hidden" name="title" value="<%=title%>">
            </form>
            <%}%>
            <%}%>
          </div>
          <div class="item-add">
            
            <form action="/" method="post">
              <input type="text" name="item" class="input" placeholder="To-Do Name">
              <button type="submit" class="button" name="submit" value=<%=title%>>+</button>
            </form>
          </div>
          <%-include('footer');-%>
          